/* 코드를 작성하세요 */
.game_app{
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.game_app .game{
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
  width: 70000px;
  height: 100%;
  background-image: url('/lib/images/bg_bottom.png');
  background-repeat: repeat-x;
  background-size: auto 100%;
}
.hero_box{
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100;
  width: 150px;
  height: 182px;
  will-change: transform;
}
.hero_box .hero{
  height: 100%;
  background-image: url('/lib/images/ninja_idle.png');
  background-size: 1498px 182px; 
  animation: hero_idle 0.7s infinite steps(10); 
  /* 0.7초 동안 10번 움직임, 10번 움직임 기준은 키프레임으로 설정한 -3770px, 10번 나눈 -377px === 1steps */
  /* -377px * 10 */
}
.hero_box .hero.flip{transform: rotateY(180deg);}
.hero_box .hero.run, .hero_box .hero.run.attack{background-image: url('/lib/images/ninja_run.png'); background-size: 1498px 182px; animation: hero_run 0.7s infinite steps(10); height: 100%;}
.hero_box .hero.attack{height: 100%;background-image: url('/lib/images/ninja_attack.png'); background-size: 1498px 182px; animation: hero_attack 0.7s 1 steps(10); }
.hero_box .hero.jump{height:100%;background-image:url('/lib/images/ninja_jump.png');background-repeat:no-repeat;background-size:cover;animation:hero_jump 0.5s}
.hero_bullet{position: absolute;left: 0;bottom: 0;z-index: 90;width: 120px;height: 24px;background-image: url('/lib/images/hero_bullet.png');background-repeat: no-repeat;background-size: cover; will-change: transform;}
.game_app .sky{position: absolute;left: 0;bottom: 0;z-index: 1;width: 100%;height: 100%;background-image: url('/lib/images/bg_top.png'); background-repeat: repeat-x;background-size: auto 100%;will-change: transform;}

/* 애니메이션 키프레임 */
@keyframes hero_idle {
  from{background-position-x: 0;}
  to{background-position-x: -1498px;}
}
@keyframes hero_run {
  from{background-position-x: 0;}
  to{background-position-x: -1498px;}
}
@keyframes hero_attack {
  from{background-position-x: 0;}
  to{background-position-x: -1498px;}
}
@keyframes hero_jump{
  from{transform: translateY(0);}
  to{transform: translateY(-30%);}
}
/* 
캐릭터가 이동하도록 만들기 
포인트 1. 히어로가 이동할 거리 2.히어로의 스피드 */